[data-theme="spring"] {
  --main-title-font: "Jost Bold", sans-serif;
  --main-text-font: "Jost", sans-serif;
  --body-font-size: 1.1rem;
  --main-background-color: var(--light-green);
  --main-text-color: var(--dark-grey);

  .main-intro {
    position: relative;
  }

  .main-intro::before {
    content: "";
    display: block;
    position: absolute;
    top: -90px;
    left: -50px;
    z-index: -1;
    width: 100%;
    max-width: 464px;
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(circle at center, lightyellow 70%, transparent 71%);
  }
}