[data-theme="summer"] {
  --main-title-font: "RibeyeMarrow", sans-serif;
  --main-text-font: "Outfit", sans-serif;
  --main-background-color: var(--light-yellow);
  --main-text-color: var(--dark-grey);

  --summer-scribbles-svg: url("/images/summer-scribbles.svg");

  .main-intro, .main-inspiration, .main-projects, .main-interests {
    position: relative;

    &::before {
      content: " ";
      background-image: var(--summer-scribbles-svg);
      width: 500px;
      height: 500px;
      position: absolute;
      top: 0;
      background-size: 60% auto;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .main-intro::before {
    background-size-x: 100%;
    max-width: 600px;
    max-height: 600px;
  }

  .main-inspiration::before {
    background-position: 0% 36.5%;
  }

  .main-projects::before {
    background-position: 0% 73.2%;
  }

  .main-interests::before {
    background-position: 0% 109.8%;
  }
}