[data-theme="summer"] {
  --main-title-font: "RibeyeMarrow", sans-serif;
  --main-text-font: "Outfit", sans-serif;
  --main-background-color: var(--light-yellow);
  --main-text-color: var(--dark-grey);

  --summer-green: oklch(94% 0.04 130);
  --summer-blue: oklch(98% 0.012 190);

  .main-intro--wrapper::before {
    content: "";
    display: block;
    height: 1000px;
    width: calc(100vw + 200px);
    position: absolute;
    z-index: -1;
    background: linear-gradient(150deg, var(--summer-green) 12%, var(--summer-blue) 64%) fixed;
    --mask:
        radial-gradient(491.93px at 50% calc(100% - 660.00px),#000 100%,#0000 100%) calc(50% - 440px) 0/880px 100%,
        radial-gradient(491.93px at 50% calc(100% + 440.00px),#0000 100%,#000 100%) 50% calc(100% - 220px)/880px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    transform: rotate(345deg);
    top: -424px;
    left: -100px;
  }
}