<dialog>
  <p>Hi there! It seems like your browser does not support all the fancy technology I have used for this website.</p>
  </br>
  <p>If you would still like to view this website as intended, I recommend updating your browser, or using a different browser.</p>
  </br>

  <form method="dialog">
    <button>I understand</button>
  </form>
</dialog>