<fieldset class="theme-switcher" id="theme-switcher">
  <legend>Pick a season:</legend>
  <label for="spring" class="theme-option">
    <input class="theme-option" name="theme" type="radio" id="spring" value="spring">
    <img src="/images/seedling-svgrepo-com.svg" title="Spring" alt="Spring symbol: seedling" class="theme-icon spring">
    <span>Spring</span>
  </label>
  <label for="summer" class="theme-option">
    <input class="theme-option" name="theme" type="radio" id="summer" value="summer">
    <img src="/images/sun-svgrepo-com.svg" title="Summer" alt="Summer symbol: sun" class="theme-icon summer">
    <span>Summer</span>
  </label>
  <label for="autumn" class="theme-option">
    <input class="theme-option" name="theme" type="radio" id="autumn" value="autumn">
    <img src="/images/pumpkin-svgrepo-com.svg" title="Autumn" alt="Autumn symbol: pumpkin" class="theme-icon autumn">
    <span>Autumn</span>
  </label>
  <label for="winter" class="theme-option">
    <input class="theme-option" name="theme" type="radio" id="winter" value="winter">
    <img src="/images/snow-svgrepo-com.svg" title="Winter" alt="Winter symbol: snowflake" class="theme-icon winter">
    <span>Winter</span>
  </label>
</fieldset>