[data-theme="autumn"] {
  --main-title-font: "Recoleta", serif;
  --main-text-font: "Outfit", serif;
  --main-background-color: var(--dark-green);
  --main-text-color: var(--light);

  .main-intro--wrapper aside .my-face {
    img {
      background-color: color-mix(in oklch, var(--light-green), transparent 5%);
      margin-block: 8px;
      max-height: calc(100% - var(--body-font-size) - 16px);
    }
  }

  .main-intro h1 {
    color: var(--pink);
  }

  .main-grid h2 {
    border-bottom: 2px solid var(--pink);
    padding-bottom: 4px;
    max-width: fit-content;
  }

  .theme-icon {
    filter: invert(1);
  }
}