:root {
  --light: oklch(99.4% 0.0032 315.16);
  --pink: oklch(85.45% 0.05 332);
  --purple: oklch(28% 0.05 350.35);
  --dark-green: oklch(34% 0.04 160);
  --light-green: oklch(96% 0.0196 134 / 80%);
  --light-yellow: oklch(99% 0.012 95);
  --dark-blue: oklch(45.8% 0.104 261.2);
  --dark-grey: oklch(16% 0 160);

  --base-spacing-xs: 0.5rem;
  --base-spacing-s: 1rem;
  --base-spacing-m: 1.25rem;
  --base-spacing-l: 2rem;
  --base-spacing-xl: 2.5rem;
  --base-spacing-xxl: 4rem;
}

body {
  max-width: 1200px;
  margin-inline: auto;
  font-family: var(--main-text-font);
  font-size: 1rem;
  letter-spacing: .02rem;
  line-height: 1.6;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1, h2, h3, h4 {
  font-family: var(--main-title-font);
  margin-bottom: var(--base-spacing-m);
  text-transform: uppercase;
  letter-spacing: .12rem;
}

nav, footer {
  padding: var(--base-spacing-s);
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-spacing-xs);

  & fieldset {
    font-size: 0.9rem;
  }
}

main {
  display: grid;
  gap: var(--base-spacing-xl);
  padding-block: var(--base-spacing-xl);
}

.main-intro--wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-inline: var(--base-spacing-xxl);
  margin-bottom: var(--base-spacing-m);

  & aside {
    writing-mode: vertical-rl;
    transform: rotate(180deg);

    & p::after {
      content: '';
      display: inline-block;
      height: calc(100% - 100px);
      width: 2px;
      background-color: var(--pink);
      margin-inline: 1rem;
      margin-block: 6px 3px;
    }
  }

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    margin-inline: var(--base-spacing-l);
  }
}

.main-intro {
  padding-block: var(--base-spacing-l);
  border-radius: 2px;
  /*border: 4px double var(--light);*/
  font-size: 1.2rem;

  & ul {

    margin-block: 0;
    list-style-type: circle;
  }
}

.main-grid {
  margin-inline: var(--base-spacing-xxl);
  display: grid;
  gap: var(--base-spacing-l) var(--base-spacing-xl);
  grid-template-columns: 1fr 1fr;

  & ul {
    padding: var(--base-spacing-m);
    padding-top: 0;
    margin-top: 0;
  }

  & li {
    text-align: start;
    /*// TODO: make this global?*/
    margin-block: 8px;
  }

  .main-inspiration, .main-projects {
    & ul {
      list-style-type: none;
      padding-inline: 0;
    }
  }

  .main-inspiration {
    grid-row: 1 / 3;
  }

  /*.main-interests {*/
    /*& ul {*/
    /*  margin-left: 20px;*/
    /*}*/

    /*& li::marker {*/
    /*  content: "</> ";*/
    /*}*/
  /*}*/

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    margin-inline: var(--base-spacing-xl);
  }
}

/*// TODO: use width: min(100%, 75ch); and text-wrap: balance ?*/
