---
layout: page.njk
title: 11ty Working Title
---
<main>
  <div class="main-intro--wrapper">
    <aside>
<!--      <p>GitHub</p>-->
    </aside>
    <section class="main-intro">
      <h1>Hi! My name is Tessa.</h1>
      <p>
        I am a front-end web developer. I also have experience in UX/UI design. Here are some more things about me:<br><br>
        <ul>
          <li>I am a self-taught builder of web things.</li>
          <li>I started my professional life as a back-end developer, before I decided that I liked thinking about people and transitioned into front-end development and UX/UI design.</li>
          <li>I care about designing and building in a user-centered way.</li>
          <li>I care about writing readable, clean, developer-friendly code.</li>
          <li>I - unlike 99% of developers I've met - love CSS.</li>
          <li>I've worked with lots of different languages, tools & tech stacks over the years. New ones don't intimidate me.</li>
          <li>I love learning new things.</li>
          <li>I love when code and creativity intersect.</li>
        </ul>
      </p>
    </section>
  </div>
  <div class="main-grid">
    <section class="main-inspiration">
      <h2>[Inform/Inspir]ation</h2>
      <h5>Resources & creations I've found useful, interesting or just plain fun</h5>
      <ul>
        <li><a href="https://www.trysmudford.com/blog/i-think-im-a-design-engineer/" title="Trys Mudford: on design engineering">On Design Engineering: I think I might be a design engineer...</a></li>
        <li><a href="https://www.freecodecamp.org/news/rendering-patterns/" title="Front end rendering patterns explained">Rendering Patterns for Web Apps – Server-Side, Client-Side, and SSG Explained</a></li>
        <li><a href="https://cssdrawings.com/" title="CSS Drawings - A Single Div CSS Art">A Single Div CSS Art Project</a></li>
        <li><a href="https://ralphammer.com/the-creative-switch/" title="Coming up with ideas">The Creative Switch</a></li>
        <li><a href="https://htmlwithsuperpowers.netlify.app/" title="An Introduction to Web Components">HTML with Superpowers</a></li>
        <li><a href="https://pudding.cool/2018/08/pockets/" title="The Pudding's take on women's pockets">Women's pockets</a></li>
        <li><a href="https://jamstack.wtf/" title="Jamstack explained">Jamstack WTF</a></li>
        <li><a href="https://rubberduckdebugging.com/" title="Debugging software with a rubber ducky">Rubber Duck Debugging</a></li>
        <li><a href="https://the-sustainable.dev/" title="Resources for building more sustainable websites">Sustainable.dev</a></li>
        <li><a href="https://www.youtube.com/watch?v=lbqOCS9bMpk" title="CSS is OK, I Guess (YouTube)">CSS is OK: A Song</a></li>
      </ul>
    </section>
    <section class="main-projects">
      <h2>Projects</h2>
      <h5>Some things I've made</h5>
      <ul>
        <li><a href="https://tessae.github.io/astro_grow/" title="A seed sowing helper built with Astro">A personal gardening database built with Astro</a></li>
      </ul>
    </section>
    <section class="main-interests">
      <h2>Current Interests</h2>
      <h5>Beware: subject to change</h5>
      <ul>
        <li><p>New CSS features like: nesting, :has(), container queries, logical properties, etc.</p></li>
        <li><p>Web animation</p></li>
        <li><p>Accessibility</p></li>
        <li><p>Web components</p></li>
        <li><p>Modern SSGs (static site generators, like Astro and Eleventy)</p></li>
      </ul>
    </section>
  </div>
</main>
<footer>
</footer>
